Abgegebene_Berichte
.Rhistory
.Rproj.user
.quarto
_book
/.quarto/
tmpdir
images/
_output-*
geodata
Links_zu_Webpages.txt
Berichte_gesplittet

**/*.quarto_ipynb
data/*.xlsx
!data/Gesamtartenliste.xlsx
